/*
  Examples:
  Heres how you do this stuff.
*/

/* Checkboxes & Radios */
.form--checkbox, .form--radio {
  @extend %input-wrapping-label;
}

/* Buttons */
.button--link {
  @extend %button;
}

/* Setting a grid */
.grid {
  @extend %grid;
}
.grid__col {
  @extend %grid-col;
}
.grid__col--25 {
  width: 25%;
}
.grid__col--30 {
  width: 30%;
}
.grid__col--50 {
  width: 50%;
}
.grid__col--70 {
  width: 70%;
}

/* Tables */
.site__content--tables table {
  @extend %table;
}