/*
  Buttons:
*/

@if $include_buttons {
  %button {
    @include rhythmic_font_size($font_size_forms);
    display: inline-block;
    padding: 0.5em 1em;
    color: rgba($text_colour, .8);
    background-color: white;
    border: solid 1px $border_colour;
    border-radius: $button_border_radius;
    outline: none;
    transition: .3s;
    &:hover, &:active {
      color: $text_colour;
      text-decoration: none;
      cursor: pointer;
      background-color: lighten($border_colour, 10%);
      border-color: darken($border_colour, 10%);
    }
    &:focus {
      color: $text_colour;
      background-color: lighten($border_colour, 10%);
      border-color: rgba($highlight_colour, .6);
      box-shadow: 0 0 6px rgba($highlight_colour, .6);
    }
  }
  
  %button-highlight {
    @include highlight_button($highlight_button_bg_colour, $highlight_button_colour);
  }
  
  input[type=button],
  input[type=reset],
  input[type=submit],
  button {
    @extend %button;
  }
}