/*
  Forms:
   Make them not look shitty
*/

@if $include_forms {
}

input, textarea, select {
  @include rhythmic_font_size($font_size_forms);
  
  padding: 0.25em 0.5em;

  color: rgba($text_colour, .8);
  border: solid 1px $border_colour;
  outline: none;
  transition: .3s;
  
  &:focus {
    color: $text_colour;
    border-color: rgba($highlight_colour, .6);
    box-shadow: 0 0 6px rgba($highlight_colour, .6);
  }
}

fieldset {
  border: none;
}

legend {
  width: 100%;
  padding-bottom: $gutter_horizontal / 2;
  margin-bottom: $gutter_horizontal * 1.5;
  border-bottom: solid 1px $border_colour;
}

// watch out for things like ranges and other crazy new things