/*
  You will need to set you own column widths in percents because I have no idea what you're wanting to do.
  Also I know you were going to include these grid classes in your markup like an asshole, so I made it so you couldn't.
  Extend them properly.
  
  http://css-tricks.com/dont-overthink-it-grids/
  In the origonal col widths are whack because of the padding not being distributed evenly
  but its fixed now
*/

%container {
  margin: 0 auto;
}

%grid {
  margin: 0 -($gutter_vertical / 2);
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%grid-col {
  float: left;
  padding: 0 $gutter_vertical / 2;
}
