/*
  Read the part about line length:
  http://trentwalton.com/2012/06/19/fluid-type/
  
  Also using a "close-enough" vertical rhythm
*/
@if $include_type {

  body {
    color: $text_colour;
    
/*
    @media (min-width: $breakpoint_sm){
      font-size: 1.2em;
    }
    @media (min-width: $breakpoint_lg){
      font-size: 1.4em;
    }
*/
  }

  body,
  input,
  textarea,
  select {
    @if $font_family_sans_serif {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    } @else {
      font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    }
  }
    
  ::selection {
    color: #000;
    background: rgba($highlight_colour, .6);
    text-shadow: none;
  }

  p,
  blockquote,
  figure,
  ol,
  ul,
  dl {
    margin-bottom: $gutter_horizontal;
  }
  
  small {
    font-size: $font_size_small;
  }
 
/*
  h1 {
    @include rhythmic_font_size($font_size_h1);
  }
  h2 {
    @include rhythmic_font_size($font_size_h2);
  }
  h3 {
    @include rhythmic_font_size($font_size_h3);
  }
  h4 {
    @include rhythmic_font_size($font_size_h4);
  }
  h5 {
    @include rhythmic_font_size($font_size_h5);
  }
  h6 {
    @include rhythmic_font_size($font_size_h6);
  }
*/
  
  header {
/*
    h1 {
      @include rhythmic_font_size($font_size_h1);
    }
    h2 {
      @include rhythmic_font_size($font_size_h2);
    }
    h3 {
      @include rhythmic_font_size($font_size_h3);
    }
    h4 {
      @include rhythmic_font_size($font_size_h4);
    }
*/
  }
  
  %type-hero {
    
  }
  
}