/*
  Read the part about line length:
  http://trentwalton.com/2012/06/19/fluid-type/
*/
body {
  @media (min-width: $breakpoint_sm){
    font-size: 1.2em;
  }
  @media (min-width: $breakpoint_lg){
    font-size: 1.4em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul {
  margin-bottom: $gutter_horizontal;
}

h1 {
  font-size: $font_size_h1;
  line-height: $line_height;
}
h2 {
  font-size: $font_size_h2;
  line-height: $line_height;
}
h3 {
  font-size: $font_size_h3;
  line-height: $line_height;
}
h4 {
  font-size: $font_size_h4;
  line-height: $line_height;
}
h5 {
  font-size: $font_size_h5;
  line-height: $line_height;
}
h6 {
  font-size: $font_size_h6;
  line-height: $line_height;
}
small {
  font-size: 0.8em;
}