/*
  Includes:
  I might make things you don't want, but I'm not going to be a jerk about it.
  So just say if you don't want them.
*/

$include_type:                true !default;
$include_forms:               true !default;
$include_buttons:             true !default;
$include_grid:                true !default;
$include_tables:              true !default;
$include_sticky_footer:       true !default;

/*
  Grids & Gutters:
*/
$rhythm:                      1.5 !default;

$gutter_horizontal:           $rhythm * 1em !default;
$gutter_vertical:             4% !default;

$border_radius:               3px !default;

/*
  Type:
  
  Target / Context:
  Foundtion sets the body font size at 100% which is usually 16px
  A standard line height of 1.5ems on the body (@16px) is 24px
*/
$font_size_base:              1em !default;
$font_size_small:             0.618em !default;

$font_size_h1:                3.927em !default;
$font_size_h2:                2.618em !default;
$font_size_h3:                2.427em !default;
$font_size_h4:                1.618em !default;
$font_size_h5:                $font_size_base !default;
$font_size_h6:                $font_size_small !default;
$font_size_forms:             $font_size_base * 0.9 !default;

$font_family_sans_serif:      false !default;

/*
  Breakpoints:
  These are only here so things don't break when you don't change them.
  
  It's better for everyone if you change these to fit your content, but we both know you won't.
*/
$breakpoint_sm:               37.5em !default;   // 600px @ 16px
$breakpoint_md:               60em !default;     // 960px @ 16px
$breakpoint_lg:               93.75em !default;  // 1500px @16px
$breakpoint_tables:           $breakpoint_sm !default;

/*
  Colours:
*/
$text_colour:                 #444 !default;
$border_colour:               #ddd !default;
$table_bg_colour:             #f9f9f9 !default;
$highlight_colour:            #00B8E3 !default;
$highlight_button_bg_colour:  $highlight_colour !default;
$highlight_button_colour:     if(lightness($highlight_button_bg_colour) > 50%, $text_colour, #fff);

/*
  Forms & Buttons:
*/
$input_border_radius:         $border_radius !default;
$button_border_radius:        $border_radius !default;