/*
  I might make things you don't want, but I'm not going to be a jerk about it.
  So just say if you don't want them.
*/

$include_grid:                true !default;
$include_responsive_tables:   true !default;
$include_sticky_footer:       true !default;