@mixin button-base {
  display: inline-block;
  margin-top: 0;
  padding: ($gutter_horizontal / 4) ($gutter_vertical / 1.5);
  -webkit-appearance: none;
  
  font-family: $font_family_button;
  font-weight: $font_weight_button;
  font-size: $font_size_base;
  line-height: $line_height_base;
  vertical-align: middle;
  color: currentColor;
  text-decoration: none;
  
  background: none;
  border-color: currentColor;
  border-style: $border_style_button;
  border-width: $border_size_button;
  border-radius: $border_radius_button;
  transition: $transition_duration_hover;
  
  svg {
    vertical-align: middle;
  }
  
  &:hover,
  &:active {
    color: $highlight_color;
    cursor: pointer;
  }
  
  &:focus {
    outline: none;
    background: inherit;
    box-shadow: 0 0 0 0.2em rgba($selection_bg_color, 0.3);
  }
}

@mixin button-style ($color, $background_color: false, $border_color: false, $color_hover: false, $background_color_hover: false, $border_color_hover: false, $focus_color: false) {
  color: $color;
  @if ($background_color) {
    background-color: $background_color;
  }
  @if ($border_color) {
    border-color: $border_color;
  }
  
  &:hover,
  &:active,
  &:focus {
    @if ($color_hover) {
      color: $color_hover;
    }
    @if ($background_color_hover) {
      background-color: $background_color_hover;
    }
    @if ($border_color_hover) {
      border-color: $border_color_hover;
    }
  }
  
  &:focus {
    @if ($focus_color) {
      box-shadow: 0 0 0 0.2em rgba($focus_color, 0.3);
    }
  }
}

@mixin button-default {
  @include button-style($text_color_button, $background_color_button, $border_color_button, $text_hover_color_button, $background_hover_color_button, $border_color_hover_button);
}

@mixin button-primary {
  @include button-style($text_color_button_primary, $background_color_button_primary, $border_color_button_primary, $text_hover_color_button_primary, $background_hover_color_button_primary, $border_color_hover_button_primary);
}