@if $include_grid {
  
  @mixin container-fluid {
    width: $container_width_xs;
    margin: 0 auto;
  }
  
  @mixin container {
    @include container-fluid;
    @media (min-width: $breakpoint_sm) {
      width: $container_width_sm;
    }
    @media (min-width: $breakpoint_md) {
      width: $container_width_md;
    }
    @media (min-width: $breakpoint_lg) {
      width: $container_width_lg;
    }
    @media (min-width: $breakpoint_xl) {
      width: $container_width_xl;
    }
  }
  
}