/*
  http://droppen.org/?droppen=m66dtgqcwhfr
  TODO:
  - flex? https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

@mixin container-fluid {
  overflow: hidden;
  margin: 0 auto;
  width: $container_width_fluid;
}

@mixin container {
  margin: 0 auto;
  width: $container_width_xs;
  @if ($container_max_width) {
    max-width: $container_max_width;
  }
  
  @media (min-width: $breakpoint_sm) {
    width: $container_width_sm;
  }
  @media (min-width: $breakpoint_md) {
    width: $container_width_md;
  }
  @media (min-width: $breakpoint_lg) {
    width: $container_width_lg;
  }
  @media (min-width: $breakpoint_xl) {
    width: $container_width_xl;
  }
}

@mixin grid-row {
  @include clearfix;
  margin: auto ($grid_gutter_xs / 2) * -1;
  
  @media (min-width: $breakpoint_sm) {
    margin: auto ($grid_gutter_sm / 2) * -1;
  }
  @media (min-width: $breakpoint_md) {
    margin: auto ($grid_gutter_md / 2) * -1;
  }
  @media (min-width: $breakpoint_lg) {
    margin: auto ($grid_gutter_lg / 2) * -1;
  }
  @media (min-width: $breakpoint_xl) {
    margin: auto ($grid_gutter_xl / 2) * -1;
  }
}

@mixin grid-col-base {
  width: 100%;
  padding-left: ($grid_gutter_xs / 2);
  padding-right: ($grid_gutter_xs / 2);
  
  @media (min-width: $breakpoint_sm) {
    padding-left: ($grid_gutter_sm / 2);
    padding-right: ($grid_gutter_sm / 2);
  }
  @media (min-width: $breakpoint_md) {
    padding-left: ($grid_gutter_md / 2);
    padding-right: ($grid_gutter_md / 2);
  }
  @media (min-width: $breakpoint_lg) {
    padding-left: ($grid_gutter_lg / 2);
    padding-right: ($grid_gutter_lg / 2);
  }
  @media (min-width: $breakpoint_xl) {
    padding-left: ($grid_gutter_xl / 2);
    padding-right: ($grid_gutter_xl / 2);
  }
}

@mixin grid-col {
  float: left;
  @include grid-col-base;
}

@mixin grid-col-rev {
  float: right;
  @include grid-col-base;
}

@mixin grid-col-size ($size, $breakpoint: false) {
  @if $breakpoint {
    @media (min-width: $breakpoint) {
      width: $size;
    }
  } @else {
    width: $size;
  }
}

@mixin grid-col-offset ($offset, $breakpoint: false, $direction: left) {
  @if $breakpoint {
    @media (min-width: $breakpoint) {
      margin-#{$direction}: $offset;
    }
  } @else {
    margin-#{$direction}: $offset;
  }
}

@mixin build-grid-col ($col_key, $col_size, $breakpoint_key, $breakpoint) {
  .grid-col.grid-col-offset-#{$col_key}-#{$breakpoint_key} {
    @include grid-col-offset($col_size, $breakpoint, left);
  }
  
  .grid-col-rev.grid-col-offset-#{$col_key}-#{$breakpoint_key} {
    @include grid-col-offset($col_size, $breakpoint, right);
  }
  
  .grid-col-#{$col_key}-#{$breakpoint_key} {
    @include grid-col-size($col_size, $breakpoint);
  }
}

@mixin build-grid-cols ($breakpoint_key, $breakpoint) {
  @each $col in $col_sizes {
    @include build-grid-col (nth($col, 1), nth($col, 2), $breakpoint_key, $breakpoint);
  }
}
/*
  [Breaks in < 3.3]
@mixin build-grid-cols ($breakpoint_key, $breakpoint) {
  @each $col_key, $col_size in $col_sizes {
    @include build-grid-col ($col_key, $col_size, $breakpoint_key, $breakpoint);
  }
}
*/