@mixin pretty-underlines () {
  text-decoration: none;
  background-image: linear-gradient( to right, currentColor 0%, currentColor 100% );
  background-repeat: repeat-x;
  background-position: 0 $underline_position;
  background-size: 100% $underline_weight;
}