// Sizes
@mixin font-size-xs {
  font-size: $font_size_xs;
  line-height: $line_height_xs;
}

@mixin font-size-sm {
  font-size: $font_size_sm;
  line-height: $line_height_sm;
}

@mixin font-size-md {
  font-size: $font_size_md;
  line-height: $line_height_md;
}

@mixin font-size-lg {
  font-size: $font_size_lg;
  line-height: $line_height_lg;
}

@mixin font-size-xl {
  font-size: $font_size_xl;
  line-height: $line_height_xl;
}

@mixin font-size-xxl {
  font-size: $font_size_xxl;
  line-height: $line_height_xxl;
}

// Styles
@mixin heading-style {
  font-family: $font_family_headings;
  font-weight: $font_weight_headings;
}

@mixin reading-length {
  max-width: $max_reading_length;
}

// Alignment
@mixin text-align($alignment, $breakpoint: false) {
  @if $breakpoint {
    @media (min-width: $breakpoint) {
      text-align: $alignment;
    }
  } @else {
    text-align: $alignment;
  }
}

@mixin pull-quote {
  border-left: none;
  padding-left: 0;
  @include font-size-lg;
  font-family: $font_family_pullquote;
  font-weight: $font_weight_pullquote;
  font-style: $font_style_pullquote;
}

@mixin pretty-underlines ($color, $bg_color: $background_color) {
  /*
    TODO: make underline increase in thickness for large font sizes
      - prob. requires some sort of calculation
  */
  
  @include pretty-underlines-color($color, $bg_color);
  text-decoration: none;
  background-repeat: repeat-x;
  background-position: 0 $underline_position;
  background-size: $underline_weight $underline_weight;
}

@mixin pretty-underlines-color ($color, $bg_color: $background_color) {
  @if ($color == 'inherit') {
    $color: $text_color;
  }
  background-image: linear-gradient(to bottom, $background_color 50%, $color 50%);
}