@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin lobotomized-owl ($margin-top) {
  * + * {
    margin-top: $margin-top;
  }
  
  * + br,
  option + option {
    margin-top: 0;
  }
}

@mixin force-redraw {
  /* 
    Arbitrary webkit-only property that forces a redraw
    Fixes currentColor bug
    see: http://stackoverflow.com/questions/36046185/how-to-hack-around-linear-gradient-with-currentcolor-bug-in-chrome
  */
  -webkit-margin-start: -.001px;
}