@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin lobotomized-owl ($margin-top) {
  * + * {
    margin-top: $margin-top;
  }
  
  * + br,
  option + option {
    margin-top: 0;
  }
}