$include_grid: true;
$highlight_color: #E91E63;
$light_text: #FFF6FA;
$background_color_grey: rgba(0,0,0,0.1);

@import '../../src/inside.scss';

header {
  overflow: hidden;
  padding-bottom: $gutter_horizontal * 2;
  background: $highlight_color;
  color: $light_text;
  
  .description {
    @include reading-length;
    margin-left: auto;
    margin-right: auto;
  }
  
  ::selection {
    background-color: $light_text;
  }
}

main {
  margin-bottom: $gutter_horizontal * 2;
}

h2.demo-heading {
  padding-bottom: $gutter_horizontal;
  border-bottom: $highlight_color $border_size $border_style;
}
h5.demo-heading {
  color: $highlight_color;
}

.grid-item {
  overflow: hidden;
  margin-top: $gutter_horizontal;
  text-align: center;
  background-color: $background_color_grey;
  
  .grid-item,
  p {
    margin-top: $gutter_horizontal / 2;
    margin-bottom: $gutter_horizontal / 2;
  }
}

.container-example {
  margin-top: $gutter_horizontal;
  padding-top: $gutter_horizontal / 2;
  padding-bottom: $gutter_horizontal / 2;
  text-align: center;
  background-color: $background_color_grey;
}

.demo-contrast-block {
  color: $light_text;
  background: $highlight_color;
  padding: $gutter_horizontal 0;
  
  a,
  input[type=button],
  input[type=reset],
  input[type=submit],
  button {
    &:hover,
    &:active,
    &:focus {
      color: #333;
    } 
    &:focus {
      box-shadow: 0 0 0 0.2em rgba(#fff, 0.3);
    }
  }
  
  h5.demo-heading {
    color: currentColor;
  }
}