@import '../../src/inside.scss';

$background_color_pink: #E91E63;
$background_color_grey: rgba(0,0,0,0.1);

header {
  overflow: hidden;
  padding-bottom: $gutter_horizontal * 2;
  background: $background_color_pink;
  color: #FFF6FA;
  
  .description {
    @include reading-length;
    margin: auto;
  }
}

main {
  padding: ($gutter_horizontal * 2) 0;
}

.grid-item {
  margin-bottom: $gutter_horizontal;
  text-align: center;
  background-color: $background_color_grey;
  .grid-item {
    margin-top: $gutter_horizontal / 2;
    margin-bottom: $gutter_horizontal / 2;
  }
}

.container-example {
  margin-bottom: $gutter_horizontal * 2;
  padding-top: $gutter_horizontal / 2;
  padding-bottom: $gutter_horizontal / 2; 
  text-align: center;
  background-color: $background_color_grey;
}