// @import '../../src/inside.scss';

$highlight_color: #E91E63;
$background_color_grey: rgba(0,0,0,0.1);

@import '../../src/inside.scss';

header {
  overflow: hidden;
  padding-bottom: $gutter_horizontal * 2;
  background: $highlight_color;
  color: #FFF6FA;
  
  .description {
    @include reading-length;
    margin: auto;
  }
  
  ::selection {
    background-color: #FFF6FA;
  }
}

main {
  padding: ($gutter_horizontal * 2) 0;
}

h2.demo-heading {
  padding-bottom: $gutter_horizontal;
  border-bottom: $highlight_color $border_size $border_style;
}
h5.demo-heading {
  color: $highlight_color;
}

.grid-item {
  overflow: hidden;
  margin-bottom: $gutter_horizontal;
  text-align: center;
  background-color: $background_color_grey;
  
  .grid-item,
  p {
    margin-top: $gutter_horizontal / 2;
    margin-bottom: $gutter_horizontal / 2;
  }
}

.container-example {
  margin-bottom: $gutter_horizontal * 2;
  padding-top: $gutter_horizontal / 2;
  padding-bottom: $gutter_horizontal / 2; 
  text-align: center;
  background-color: $background_color_grey;
}

.example-block {
   margin-bottom: $gutter_horizontal;
}