input[type=button],
input[type=reset],
input[type=submit],
button {
  
  margin-top: 0;
  
  @include button-base;
  
  &:focus {
    outline: none;
    color: $selection_color;
    background: rgba($selection_bg_color, 0.3);
    box-shadow: 0 0 0 0.2em rgba($selection_bg_color, 0.3);
    text-shadow: none;
  }
  
  -webkit-appearance: none;
  
  svg {
    vertical-align: top;
  }
}