figure {
  img {
    display: block;
  }
  > a {
    display: inline-block;
  }
  @if ($include_figure_link_hover) {
    > a:hover + figcaption {
      h1 a,
      h2 a,
      h3 a,
      h4 a,
      h5 a,
      h6 a,
      a {
        color: $link_color_hover;
        /* 
          Arbitrary webkit-only property that forces a redraw
          Fixes currentColor bug
          see: http://stackoverflow.com/questions/36046185/how-to-hack-around-linear-gradient-with-currentcolor-bug-in-chrome
        */
        -webkit-margin-start: .1px;
      }
    }
  }
}

figcaption {
  overflow: auto;
  padding-top: $gutter_horizontal / 2;
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: $gutter_horizontal / 2;
  }
}