figure {
  img {
    display: block;
  }
}

figcaption {
  overflow: auto;
  padding-top: $gutter_horizontal / 2;
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: $gutter_horizontal / 2;
  }
}