a {
  color: $link_color;
  transition: $transition_duration_hover;
  
  @if $include_pretty_underlines {
    @include pretty-underlines($link_color);
  }
  
  &:hover,
  &:active,
  figure > &:hover + figcaption a {
    color: $link_color_hover;
    @if $include_pretty_underlines {
      @include pretty-underlines-color($link_color_hover);
    }
  }
  
  h1 &,
  h2 &,
  h3 &,
  h4 &,
  h5 &,
  h6 & {
    text-decoration: none;
    color: inherit;
    @if $include_pretty_underlines {
      background: none;
      &:hover,
      &:active {
        background: none;
      }
    }
  }
  
  :not(figure) > &:focus {
    outline: none;
    color: $selection_color;
    background: rgba($selection_bg_color, 0.3);
    box-shadow: 0 0 0 0.2em rgba($selection_bg_color, 0.3);
    text-shadow: none;
  }
  
  figure > &:focus {
    outline-color: rgba($selection_bg_color, 0.3);
  }
  
  figure > &:hover + figcaption {
    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
      @if $include_pretty_underlines {
        background: none;
      }
    }
  }
}