table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: left;
  
  @media (min-width: $breakpoint_tables) {
    td, th {
      padding: ($gutter_horizontal / 2) ($gutter_vertical / 2);
    }
  }
  
  @media (max-width: $breakpoint_tables) {
    @include responsive-table;
  }
}