html {
  @if $include_fluid_type {
    @media (min-width: $breakpoint_sm) {
      font-size: $fluid_type_sm;
    }
    @media (min-width: $breakpoint_md) {
      font-size: $fluid_type_md;
    }
    @media (min-width: $breakpoint_lg) {
      font-size: $fluid_type_lg;
    }
    @media (min-width: $breakpoint_xl) {
      font-size: $fluid_type_xl;
    }
  }
}

body {
  font-size: 100%;
  line-height: $line_height_base;
  font-family: $font_family_body;
  font-weight: $font_weight_base;
  color: $text_color;
  
  @if $transition_duration_fontsize {
    transition: font-size $transition_duration_fontsize;
  }
}

::selection {
  color: $selection_color;
  background: $selection_bg_color;
  text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-style;
}

h1 {
  @include font-size-xxl;
}
h2 {
  @include font-size-xl;
}
h3 {
  @include font-size-lg;
}
h4 {
  @include font-size-md;
}
h5 {
  @include font-size-sm;
}
h6,
small {
  @include font-size-xs;
}

// -webkit-user-stylesheets adjusts the size of h1's nested in these block elements, so we do as well.
// Future note: it would be good to use :any() https://developer.mozilla.org/en-US/docs/Web/CSS/%3Aany
article, aside, nav, section {
  h1 {
    @include font-size-xl;
  }
  article, aside, nav, section {
    h1 {
      @include font-size-lg;
    }
  }
}