/*
  Globals & Includes
  ---
*/

// Include css classes in output.
// Set to false if you intend on just using mixins and setting your own classes.
$include_classes: true !default;

// Include fluid type settings: http://trentwalton.com/2012/06/19/fluid-type/
// This will increase the font size as the screen size increases.
// Set to false if you want to keep a consistent font size across all screen sizes.
$include_fluid_type: true !default;

// Include pretty underlines: https://medium.com/designing-medium/crafting-link-underlines-on-medium-7c03a9274f9
// This will stop chromes underlines looking super chunky at larger font sizes.
$include_pretty_underlines: true !default;

// Include modules.
// Set to false if you don't need the extended modules.
$include_grid:    true !default;
$include_type:    true !default;
$include_lists:   true !default;
$include_buttons: true !default;
$include_tables:  true !default;
$include_tables_responsive:  true !default;
$include_hero:    true !default;
$include_code:    true !default;
$include_embed:   true !default;
$include_figure_link_hover: true !default;
$include_utilities: true !default;

// Include breakpoint sizes for js: https://adactio.com/journal/5429
$include_breakpoint_sizes: true !default;

// Include themes.
// Set to true if you want to include a theme.
$include_theme_wireframe: false !default;

/*
  Breakpoints
  ---
  
  xs is implied by whatever is less than sm
*/
$breakpoint_sm:     37.5em !default;  // 600px @ 16px
$breakpoint_md:     60em !default;    // 960px @ 16px
$breakpoint_lg:     75em !default;    // 1200px @ 16px
$breakpoint_xl:     93.75em !default; // 1500px @ 16px

// The max-height in which a table is no longer collapsed for mobile
$breakpoint_tables: $breakpoint_sm !default;

$breakpoint_sizes: (xs false) (sm $breakpoint_sm) (md $breakpoint_md) (lg $breakpoint_lg) (xl $breakpoint_xl) !default;
/*
  [Breaks in < 3.3]
  $breakpoint_sizes: (xs:false, sm:$breakpoint_sm, md:$breakpoint_md, lg:$breakpoint_lg, xl:$breakpoint_xl) !default;
*/

/*
  Type
  ---
  
  Target / Context:
  Foundtion sets the body font size at 100% which is usually 16px
  A standard line height of 1.5ems on the body (@16px) is 24px
*/

// Base sizes and heights
$line_height_base:  1.5 !default;
$line_height_xxl:   1.1 !default;
$line_height_xl:    1.2 !default;
$line_height_lg:    1.3 !default;
$line_height_md:    1.4 !default;
$line_height_sm:    $line_height_base !default;
$line_height_xs:    1.6 !default;

$font_size_base:  1em !default;

// Fluid type sizes
$fluid_type_sm:   1.1em !default;
$fluid_type_md:   1.2em !default;
$fluid_type_lg:   1.3em !default;
$fluid_type_xl:   1.4em !default;

$max_reading_length: 40em !default;

// Heading and component sizes
$font_size_xxl:   2.5em !default;             // ~ 40px
$font_size_xl:    2em !default;               // ~ 32px
$font_size_lg:    1.5em !default;             // ~ 24px and used inside hero objects
$font_size_md:    1.25em !default;            // ~ 20px
$font_size_sm:    $font_size_base !default;   // ~ 16px
$font_size_xs:    0.8125em !default;          // ~ 13px
$font_size_forms: $font_size_xs !default;

// Font families
$font_family_serif:      Georgia, "Times New Roman", Times, serif !default;
$font_family_sans_serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font_family_monospaced: Consolas, "Lucida Console", Monaco, monospace !default;

$font_family_body:      $font_family_sans_serif !default;
$font_family_headings:  $font_family_sans_serif !default;
$font_family_code:      $font_family_monospaced !default;
$font_family_pullquote: $font_family_headings !default;
$font_family_button:    $font_family_body !default;

// Font weights
$font_weight_base:      300 !default;
$font_weight_bold:      600 !default;
$font_weight_headings:  500 !default;
$font_weight_pullquote: 300 !default;
$font_weight_button:    $font_weight_base !default;

// Font styles
$font_style_pullquote: italic !default;

// Underline thickness
$underline_weight: 1px !default; // 2px !default;
$underline_position: 95% !default;

/*
  Grids
  ---
*/

$container_width_fluid: 100% !default;
$container_width_xs: 95% !default;
$container_width_sm: 95% !default;
$container_width_md: 90% !default;
$container_width_lg: 85% !default;
$container_width_xl: 80% !default;

$container_sizes: (xs $container_width_xs) (sm $container_width_sm) (md $container_width_md) (lg $container_width_lg) (xl $container_width_xl) !default;

// Set to a value like 55em to constrain the max width of a container
$container_max_width: false !default;

$gutter_horizontal: 1rem !default;
$gutter_vertical: 1em !default;

$grid_gutter_xs: 0.25em !default;
$grid_gutter_sm: 0.5em !default;
$grid_gutter_md: 0.75em !default;
$grid_gutter_lg: $gutter_vertical !default;
$grid_gutter_xl: $grid_gutter_lg !default;

$grid_gutter_sizes: (xs $grid_gutter_xs) (sm $grid_gutter_sm) (md $grid_gutter_md) (lg $grid_gutter_lg) (xl $grid_gutter_xl) !default;

$col_sizes: (5 5%) (10 10%) (15 15%) (20 20%) (25 25%) (30 30%) (40 40%) (50 50%) (60 60%) (70 70%) (75 75%) (80 80%) (85 85%) (90 90%) (95 95%) (100 100%) (quarter 25%) (half 50%) (three-quarters 75%) (full 100%) (one-third 33.333%) (one-sixth 16.666%) (two-thirds 66.666%) !default;
/*
  [Breaks in < 3.3]
$col_sizes: (5:5%, 10:10%, 15:15%, 20:20%, 25:25%, 30:30%, 40:40%, 50:50%, 60:60%, 70:70%, 75:75%, 80:80%, 85:85%, 90:90%, 95:95%, 100:100%, quarter:25%, half:50%, three-quarters:75%, full:100%, one-third:33.333%, two-thirds:66.666%) !default;
*/

/*
  Colours
  ---
*/

$highlight_color: #00b8e3 !default;

$text_color: #333 !default;
$link_color: inherit !default;
$link_color_hover: $highlight_color !default;
$selection_color: #000 !default;
$selection_bg_color: rgba($highlight_color, .6) !default;

$background_color: #fff !default;

// tables
$background_color_table: #f9f9f9 !default;
$background_hover_color_table: darken($background_color_table, 5%) !default;

// buttons
$text_color_button: $text_color !default;
$text_hover_color_button: $text_color !default;
$background_color_button: $background_color !default;
$background_hover_color_button: darken($background_color_button, 5%) !default;

$background_color_button_primary: $highlight_color !default;
$background_hover_color_button_primary: darken($highlight_color, 10%) !default;
$text_color_button_primary: if(lightness($background_color_button_primary) > 55%, $text_color, lighten($background_color, 45%)) !default;
$text_hover_color_button_primary: $text_color_button_primary !default;

/*
  Borders
  ---
*/

$border_color: #eee !default;
$border_size: 1px !default;
$border_style: solid !default;
$border_radius: 3px !default;

// tables
$border_color_table: $border_color !default;
$border_size_table: $border_size !default;
$border_size_table_lg: 2px !default;
$border_style_table: $border_style !default;

// inputs
$border_color_input: $border_color !default;
$border_size_input: $border_size !default;
$border_style_input: $border_style !default;
$border_radius_input: $border_radius !default;

// buttons
$border_color_button: $border_color !default;
$border_color_hover_button: $border_color !default;
$border_color_button_primary: darken($background_color_button_primary, 5%) !default;
$border_color_hover_button_primary: darken($border_color_button_primary, 10%) !default;
$border_size_button: $border_size !default;
$border_style_button: $border_style !default;
$border_radius_button: $border_radius !default;

// blockquotes
$border_color_blockquote: $border_color !default;
$border_size_blockquote: $border_size * 4 !default;
$border_style_blockquote: $border_style !default;


/*
  Misc
  ---
*/

// Transition durations.
// These are here as a nicety for things like link hovers and font size increases.
// If you don't want the transitions then set them to `false`
$transition_duration_base:      .3s !default;
$transition_duration_fontsize:  $transition_duration_base !default;
$transition_duration_hover:     $transition_duration_base !default;